

.bg-mod{
    background-color: #fceae8;
}
.button-color{
    background-color: pink;
}
.body-size{
    height: 400px;
    background-color: aqua;
}
.brand-box{
    height: 200px;
    background-color: black;
}